/*
** EPITECH PROJECT, 2024
** AREA
** File description:
** content
*/

body {
    background-color: #f1f1f1;
}

button:hover {
    background-color: #1565c0;
}

#div-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vh;
    color: rgb(92, 92, 92);
    font-family: -apple-system, BlinkMacSystemFont,
            'Segoe UI',
            'Roboto',
            'Oxygen',
            'Ubuntu',
            'Cantarell',
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
        sans-serif;
}

label {
    margin: 1% 0% 2% 0%;
}