.App {
  text-align: center;
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.TextField {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
