@tailwind base;
@tailwind components;
@tailwind utilities;

/* .animated-background {
    background-size: 400% 400%;
    animation: animation 6s ease infinite;
}

@keyframes animation {
    0% {
        background: linear-gradient(135deg, #5e17eb 10%, #222222 40%, #410cab 80%);
    }
    25% {
        background: linear-gradient(200deg, #410cab 20%, #5e17eb 50%, #222222 90%);
    }
    50% {
        background: linear-gradient(90deg, #222222 30%, #410cab 60%, #5e17eb 100%);
    }
    75% {
        background: linear-gradient(45deg, #5e17eb 0%, #222222 50%, #410cab 90%);
    }
    100% {
        background: linear-gradient(180deg, #410cab 15%, #5e17eb 55%, #222222 95%);
    }
} */

@keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-gradient {
    animation: gradient-shift 15s ease infinite;
  }